html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.trybox {
    background-color: #636b6f;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    padding: 1rem;
    width: 50rem;
}

.tryform {
    width: 48rem;
}
.header {
    vertical-align: middle;
    height: 3rem;
    background-color: #636b6f;
    color: #ffffff;
    padding: 0 25px;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.header > a {
    color: #ffffff;
    padding: 0 25px;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.forumbox {
    align-items: center;
    font-family: sans-serif;
    padding: 1rem;
    width: 50rem;
}

.topictitle {
    font-weight: bold;
    background-color: #636b6f;
    color: #ffffff;
    font-size: xx-large;
}

.datetime {
    font-weight: bold;
    background-color: #636b6f;
    color: #ffffff;
}